bin/Debug/netcoreapp2.1/feWalkin.runtimeconfig.dev.json
bin/Debug/netcoreapp2.1/feWalkin.pdb
bin/Debug/netcoreapp2.1/feWalkin.dll
bin/Debug/netcoreapp2.1/feWalkin.deps.json
bin/Debug/netcoreapp2.1/feWalkin.Views.pdb
bin/Debug/netcoreapp2.1/feWalkin.Views.dll
obj/Debug/netcoreapp2.1/feWalkin.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/Razor/Pages/_ViewImports.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Pages/Error.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/_ViewStart.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/_ViewImports.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/Userlogin/Index.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/Shared/Error.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/Public/_ViewStart.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/Public/Index.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/Home/Index.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/Events/Index.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/EventDetail/Index.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/Dashboard/Index.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/Common/Index.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/Candidate/Index.g.cshtml.cs
obj/project.assets.json
obj/feWalkin.csproj.nuget.g.targets
obj/feWalkin.csproj.nuget.g.props
obj/feWalkin.csproj.nuget.cache
obj/Debug/netcoreapp2.1/feWalkin.pdb
obj/Debug/netcoreapp2.1/feWalkin.dll
obj/Debug/netcoreapp2.1/feWalkin.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/feWalkin.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/feWalkin.assets.cache
obj/Debug/netcoreapp2.1/feWalkin.Views.pdb
obj/Debug/netcoreapp2.1/feWalkin.Views.dll
obj/Debug/netcoreapp2.1/feWalkin.TagHelpers.output.cache
obj/Debug/netcoreapp2.1/feWalkin.TagHelpers.input.cache
obj/Debug/netcoreapp2.1/feWalkin.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.1/feWalkin.RazorCoreGenerate.cache
obj/Debug/netcoreapp2.1/feWalkin.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.1/feWalkin.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/Razor/Features/Shared/_ValidationScriptsPartial.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/Shared/_SpaScriptsPartial.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/Shared/_Layout.g.cshtml.cs
obj/Debug/netcoreapp2.1/Razor/Features/Public/_Layout.g.cshtml.cs
dist/vendor.js.map
dist/vendor.js
dist/styles.js.map
dist/styles.js
dist/runtime.js.map
dist/runtime.js
dist/polyfills.js.map
dist/polyfills.js
dist/plogo.png
dist/main.js.map
dist/main.js
dist/index.html
dist/assets/logo/ulogo.png
dist/assets/logo/profile.svg
dist/assets/logo/plogo.png
dist/assets/logo/favicon.ico
dist/assets/logo/botRecruitlogo1.png
dist/assets/logo/botRecruitlogo.png
dist/assets/i18n/fr.json
dist/assets/i18n/en.json
dist/assets/font/OpenSans.ttf
dist/OpenSans.ttf
